body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(138, 154, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
}

.container{
    background:rgb(253, 255, 224);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    width: 550px;
}

h1, h2{
    text-align: center;
    color: rgb(19, 19, 51);
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
    font-weight: bold;
}

input, select, button{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

button{
    margin-top: 15px;
    background-color: #869bd6;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #869bd6;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    background: #d4eafa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}